[project]
	description = learn github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/javedhasan
[access "refs/for/refs/*"]
	read = group user/javedhasan
	push = group user/javedhasan
	label-Code-Review = -2..+2 group user/javedhasan
	label-Verified = -1..+1 group user/javedhasan
	rebase = group user/javedhasan
	removeReviewer = group user/javedhasan
	submit = group user/javedhasan
[access "refs/heads/*"]
	read = group user/javedhasan
	create = group user/javedhasan
	push = +force group user/javedhasan
	pushMerge = group user/javedhasan
[access "refs/tags/*"]
	push = +force group user/javedhasan
	pushTag = group user/javedhasan
	pushSignedTag = group user/javedhasan
